body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  background-image: url("./pictures/beach.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-color-layer {
  padding: 0 100px;
  background-color: rgba(155, 156, 158, 0.7);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.game {
  text-align: center;
}
.square {
  margin: 0;
  width: 100px;
  height: 100px;
  background-color: rgba(110, 150, 59, 0.3);
  border: solid black;
  transition: transform 0.17s;
}
.square:hover {
  transform: scale(1.02, 1.02);
}
.square:hover {
  transform: scale(1.02, 1.02);
}

.board {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
}

.player {
  background-color: blue;
}

.xSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 94px;
  height: 94px;
  border: solid black;
  text-shadow: 2px 2px 5px red;
  font-size: 100px;
}

.oSquare {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 94px;
  height: 94px;
  border: solid black;
  text-shadow: 2px 2px 5px blue;
  font-size: 100px;
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  text-align: center;
  justify-content: center;
  background-image: url("./pictures/board.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 25%;
  height: auto;
  border: 3px outset black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  filter: blur(0);
}

.players-score {
  
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(110, 150, 59, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  border: outset;
}

.player1-score {
  
  height: 25px;
  text-shadow: 2px 2px 5px red;
  padding: 0 10px;
  
}

.player2-score {
  
  height: 25px;
  text-shadow: 2px 2px 5px blue;
  padding: 0 10px;
}

.title {
  margin: 10px;
  border: outset;
  background-color: rgba(110, 150, 59, 0.5);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.tic {
  position: relative;
  margin: 0 0 0 0;
  text-shadow: 2px 2px 5px red;
  animation-name: tic-zoom;
  animation-duration: 7s;
  animation-iteration-count: infinite;
}

@keyframes tic-zoom {
  0% {
    left: 0px;
    top: -100px;
  }
  25% {
    left: 0px;
    top: 0px;
  }
  90% {
    left: 0px;
    top: 0px;
  }
  100% { left: 0px;
    top: -100px;
  }
}

.tac {
  position: relative;
  margin: 0 0 0 0;
  text-shadow: 2px 2px 5px blue;
  animation-name: tac-zoom;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  

}

@keyframes tac-zoom {
  0% {
    left: 0px;
    top: -250px;
  }
  25% {
    left: 0px;
    top: 0px;
  }
  90% {
    left: 0px;
    top: 0px;
  }
  100% { left: 0px;
    top: -250px;
  }
}

.toe {
  position: relative;
  margin: 0 0 0 0;
  text-shadow: 2px 2px 5px green;
  animation-name: toe-zoom;
  animation-duration: 7s;
  animation-iteration-count: infinite;

}

@keyframes toe-zoom {
  0% {
    left:0px;
    top: -500px;
  }
  25% {
    left: 0px;
    top: 0px;
  }
  90% {
    left:0px;
    top: 0px;

  }
  100% {
    left:0px;
    top: -500px;
  }
}
.player1-turn {
  text-shadow: 2px 2px 5px red;
}

.player2-turn {
  text-shadow: 2px 2px 5px blue;
}

.player1-win {
  background: rgba(255, 255, 255, 0.5);
  text-shadow: 2px 2px 5px red;
}

.player2-win {
  background: rgba(255, 255, 255, 0.5);
  text-shadow: 2px 2px 5px blue;
}

.tie {
  background: rgba(255, 255, 255, 0.5);
  text-shadow: 2px 2px 5px green;
}
